<h1>cq dialg creation with tabs format<h1>
<h2>Student 1 Details</h2>
<div>Student name :${properties.text}</div>
<div>Student address :${properties.description}</div>
<img src=${properties.image}>
<div>Student date of Birth:${'dd-mm-yyyy' @format=properties.date}</div>
<div>Student age :${properties.num}</div>
<h2>Student2 Details</h2>
<div>Student name :${properties.text2}</div>
<div>Student address :${properties.description2}</div>
<img src=${properties.image2}>
<div>Student Date of Birth:${'dd-mm-yyyy' @format=properties.date2}</div>
<div>age :${properties.num2}</div>