<h1>cq dialg creation with tabs format<h1>
<h2>Employee 1 Details</h2>
<div>Employee name :${properties.text}</div>
<div>Employee address :${properties.description}</div>
<img src=${properties.image}>
<div>Employee joining date:${'dd-mm-yyyy' @format=properties.date}</div>
<div>Employee age :${properties.num}</div>
<h2>Employee2 Details</h2>
<div>Employee name :${properties.text2}</div>
<div>Employee address :${properties.description2}</div>
<img src=${properties.image2}>
<div>Employee joining  date:${'dd-mm-yyyy' @format=properties.date2}</div>
<div>age :${properties.num2}</div>