<h1>cq dialg creation with tabs format<h1>
<h2>Employee Details</h2>
<div>Employee name :${properties.text}</div>
<div>Employee address :${properties.description}</div>
<img src=${properties.image}>
<div>Employee joining date:${'dd-mm-yyyy' @format=properties.date}</div>
<div>Employee age :${properties.num}</div>
<h2>Company Details</h2>
<div>Company name :${properties.text2}</div>
<div>Company Description :${properties.description2}</div>
<img src=${properties.image2}>
<div>Company Established date:${'dd-mm-yyyy' @format=properties.date2}</div>
<div>no .of years :${properties.num2}</div>
<h2>Product Details</h2>
<div>Product name :${properties.text3}</div>
<div>Product description :${properties.description3}</div>
<img src=${properties.image3}>
<div>Product manufacture date:${'dd-mm-yyyy' @format=properties.date3}</div>
<div>product varieties :${properties.num3}</div>
